@model IEnumerable<FiveBeachStore.Models.TbProductSale>

@{
    ViewData["Title"] = "THÙNG RÁC GIÁ SẢN PHẨM SALE";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>THÙNG RÁC GIÁ SẢN PHẨM SALE</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a class="btn btn-warning btn-sm" asp-area="Admin" asp-controller="AdminProductSales" asp-action="Index">
                            <i class="fas fa-arrow-circle-left">
                            </i>
                            Quay về
                        </a>
                    </li>


                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>

            </div>
        </div>
        <div class="card-body p-0">
            <table class="table table-striped projects">
                <thead>
                    <tr>
                        <th style="width: 1%">
                            #
                        </th>
                        <th style="width: 10%">
                            Giá Sale
                        </th>
                        <th style="width: 10%">
                            Số lượng
                        </th>
                        <th style="width: 20%">
                            Ngày BĐ
                        </th>
                        <th style="width: 20%">
                            Ngày KT
                        </th>
                        
                        <th class="text-center" style="width:20%">
                            Chức năng
                        </th>
                        <th class="text-center" style="width:15%">
                            Mã SP
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <input type="checkbox" />
                                </td>

                                <td>
                                    <a>
                                        @item.PriceSale
                                    </a>
                                    <br />

                                </td>
                                <td>
                                    <a>
                                        @item.Qty
                                    </a>
                                    <br />

                                </td>

                                <td>
                                    <a>
                                        @item.NgayBd
                                    </a>
                                    <br />

                                </td>
                                <td>
                                    <a>
                                        @item.NgayKt
                                    </a>
                                    <br />

                                </td>

                                <td class="project-actions text-right">
                                    <a class="btn btn-info btn-sm" asp-area="Admin" asp-controller="AdminProductSales" asp-action="Restore" asp-route-id="@item.ProductId">
                                        <i class="fas fa-undo">
                                        </i>
                                        Restore
                                    </a>
                                    <a class="btn btn-danger btn-sm" asp-area="Admin" asp-controller="AdminProductSales" asp-action="Destroy" asp-route-id="@item.ProductId">
                                        <i class="fas fa-trash">
                                        </i>
                                        Destroy
                                    </a>
                                </td>
                                <td class="text-center">
                                    <a>
                                        @item.ProductId
                                    </a>
                                    <br />

                                </td>
                            </tr>
                        }
                    }


                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->

</section>